.cardGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  align-items: baseline;
  height: 100%;
}

.my5 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

@media only screen and (max-width: 992px) {
  .cardGrid {
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .cardGrid {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
